In [13]:
import pandas as pd

In [14]:
data = pd.read_csv("Data/data.csv")

In [17]:
data[["train_loss", "validation_loss"]].groupby('train_loss').mean()

            validation_loss
train_loss
0.007620           6.132594
0.007696           6.388889
0.007742           6.223602
0.007765           6.232657
0.007808           6.242743
...                     ...
5.769540           5.938978
6.149220          10.393121
6.516962           6.511988
6.814090           6.786588
6.989439          80.856150

[99 rows x 1 columns]

In [37]:
loss = data["train_loss"].astype(int)

In [38]:
loss

0     6
1     6
2     6
3     6
4     5
     ..
94    0
95    0
96    0
97    0
98    0
Name: train_loss, Length: 99, dtype: int32

In [39]:
data["is_even"] = loss%2 == 0

In [40]:
data

,epoch,train_loss,train_acc,validation_loss,validation_acc,even,is_even
0,1,6.989439,0.001150,80.856150,0.000000,False,True
1,2,6.814090,0.002807,6.786588,0.004883,False,True
2,3,6.516962,0.007390,6.511988,0.011719,False,True
3,4,6.149220,0.014932,10.393121,0.005859,False,True
4,5,5.769540,0.027580,5.938978,0.015625,False,False
...,...,...,...,...,...,...,...
94,95,0.008084,0.999696,6.287661,0.227314,False,True
95,96,0.007909,0.999611,6.166366,0.241612,False,True
96,97,0.007696,0.999882,6.388889,0.229542,False,True
97,98,0.008200,0.999510,6.258015,0.235126,False,True
98,99,0.008014,0.999679,6.082789,0.238331,False,True

In [45]:
data[["train_loss", "validation_loss", "is_even"]].groupby("is_even").mean()

         train_loss  validation_loss
is_even
False      3.178317        12.516023
True       0.757114         7.611283