In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(
    {
        "Player" : ["Leo Messi", "Chris Ronaldo", "Neymar jr", "K Benzema"],
        "Club" : ["PSG", "Juventus", "PSG", "RM"],
        "Country" : ["Argentina", "Portugal", "Brazil", "France"],
        "Age" : [33,34,29,31],
        "Trophies" : [2,3,1,0]
    }
)

In [8]:
df

          Player      Club    Country  Age  Trophies
0      Leo Messi       PSG  Argentina   33         2
1  Chris Ronaldo  Juventus   Portugal   34         3
2      Neymar jr       PSG     Brazil   29         1
3      K Benzema        RM     France   31         0